{% extends 'base.html' %}

{% block title %}
    Categories
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'create_receipt' %}">Create Receipt</a>
            <a href="{% url 'accounts' %}">Accounts</a>
            <a href="{% url 'create_category' %}">Create Category</a>
            <a href="{% url 'create_account' %}">Create Account</a>
        </nav>
    </header>
    <main>
        <h1>My Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in category_list %}
                    <tr>
                        <td>{{ detail.name }}</td>
                        <td>{{ detail.receipts.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock content %}
