{% extends 'base.html' %}

{% block title %}
    Login
{% endblock title %}

{% block content %}

    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'categories' %}">Categories</a>
            <a href="{% url 'accounts' %}">Accounts</a>
            <a href="{% url 'create_category' %}">Create Category</a>
            <a href="{% url 'create_account' %}">Create Account</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>Create</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>

{% endblock content %}
